<template>
  <main>
    <div class="wrapper">
      <Header />
      <sidebar />

      <div class="content-wrapper">
        <section class="content">
          <div class="container-fluid">
            <router-view></router-view>
            
          </div>
        </section>
      </div>
    </div>
    <FlashMessage position="right top"></FlashMessage>
  </main>
</template>

<script>
import Header from "./components/Header.vue";
import Sidebar from "./components/Sidebar.vue";
import Footer from "./components/Footer.vue";

export default {
  components: {
    Header,
    Sidebar,
    Footer,
  },
};
</script>