<template>
  <div class="row">
    <h3>Management Category</h3>
    <button class="btn btn-primary" v-on:click="showNewCategoryModal">Add Category</button>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nama</th>
          <th>Image</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(category, index) in categories" :key="index">
          <td>{{category.name}}</td>
          <td>
            <img :src="`${$store.state.serverPath}/${category.image}`" :alt="category.name" id="list-image" width="200px">
          </td>
          <td>
            <button class="btn btn-warning" v-on:click="editCategory(category)">edit</button>
            <button class="btn btn-danger" v-on:click="deleteCategory(category)">delete</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mx-auto" v-show="moreExists">
        <button class="btn btn-primary btn-sm" v-on:click="loadMore"><i class="fa fa-arrow-down"></i> Load More</button>
    </div>
    <b-modal ref="newCategoryModal" hide-footer title="Create Category">
      <div class="d-block">
        <form v-on:submit.prevent="createCategory">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" v-model="categoryData.name" name="name" id="name" class="form-control" placeholder="Enter name">
            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
          </div>
          <div v-if="categoryData">
            <img src="" ref="newCategoryImageDisplay" id="image-display" class="w-150px">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" name="image" v-on:change="attachImage" ref="newCategoryImage" id="image" class="form-control">
            <div class="invalid-feedback"  v-if="errors.image">{{errors.image[0]}}</div>
          </div>

          <hr>
          <div class="text-right">
            <button class="btn btn-default" type="button" v-on:click="hideNewCategoryModal">Cancel</button>
            <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Submit</button>
          </div>
        </form>
      </div>
    </b-modal>

    <b-modal ref="editCategoryModal" hide-footer title="Edit Category">
      <div class="d-block">
        <form v-on:submit.prevent="updateCategory">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" v-model="editCategoryData.name" name="name" id="name" class="form-control" placeholder="Enter name">
            <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
          </div>
          <div v-if="editCategoryData">
            <img :src="`${$store.state.serverPath}/${editCategoryData.image}`" ref="editCategoryImageDisplay" id="image-display" class="w-150px">
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" name="image" v-on:change="editAttachImage" ref="editCategoryImage" id="image" class="form-control">
            <div class="invalid-feedback"  v-if="errors.image">{{errors.image[0]}}</div>
          </div>

          <hr>
          <div class="text-right">
            <button class="btn btn-default" type="button" v-on:click="hideEditCategoryModal">Cancel</button>
            <button class="btn btn-primary" type="submit"><i class="fa fa-check"></i> Update</button>
          </div>
        </form>
      </div>
    </b-modal>
  </div>
</template>
<script>
import * as categoryService from  '../services/category_service';

export default {
  name: "Category",
  data() {
    return {
      categories: [],
      categoryData: {
        name: '',
        image: ''
      },
      editCategoryData: {
        name: '',
        image: ''
      },
      errors:{},
      moreExists: false,
      nextPage: 0,
    };
  },

  mounted() {
    this.loadCategories();
  },

  methods: {
    loadCategories : async function() {
      try {
        const response = await categoryService.loadCategories();
        this.categories = response.data.data;
        console.log(response.data);
        if (response.data.current_page < response.data.last_page) {
          this.moreExists = true;
          this.nextPage = response.data.current_page + 1;
        }else{
          this.moreExists = false;
        }
      } catch (error) {
        this.flashMessage.error({
          title: 'Error !',
          message: 'Some rror server',
          time: 5000
        });
      }
    },
    attachImage() {
        this.categoryData.image = this.$refs.newCategoryImage.files[0];
        let reader = new FileReader();
        reader.addEventListener('load', function() {
          this.$refs.newCategoryImageDisplay.src = reader.result;
        }.bind(this), false);

        reader.readAsDataURL(this.categoryData.image);
    },
    createCategory: async function() {
      console.log('form submitted');
      let formData = new FormData();
      formData.append('name', this.categoryData.name);
      formData.append('image', this.categoryData.image);

      try {
        const response = await categoryService.createCategory(formData);
        this.categories.unshift(response.data);
        this.hideNewCategoryModal();
        this.flashMessage.success({
          title: 'Success',
          message: 'Category has been saved',
          time: 5000
        });
        this.categoryData = {
          name: '', image: ''
        };
        console.log(response);
      } catch (error) {
          switch (error.response.status) {
            case 422:
              this.errors = error.response.data.errors;
              break;
          
            default:
              this.flashMessage.error({
                title: 'Oops !',
                message: 'Something when wrong !!',
                time: 5000
              });
              break;
          }
      }

    },
    hideNewCategoryModal() {
      this.$refs.newCategoryModal.hide();
    },
    showNewCategoryModal() {
      this.$refs.newCategoryModal.show();
    },
    deleteCategory: async function(category) {
      if (!window.confirm(`are you sure delete ${category.name}`)) {
        return;
      }

      try {
        await categoryService.deleteCategory(category.id);
        this.categories = this.categories.filter(obj => {
          return obj.id != category.id;
        });

        this.flashMessage.success({
                title: 'Success !',
                message: 'category has been deleted',
                time: 5000
              });
      } catch (error) {
        this.flashMessage.error({
                title: 'Oops !',
                message: error.response.data.message,
                time: 5000
              });
      }
    },
    hideEditCategoryModal() {
      this.$refs.editCategoryModal.hide();
    },
    showEditCategoryModal() {
        this.$refs.editCategoryModal.show();
    },
    editCategory(category) {
      this.editCategoryData = {...category};
      this.showEditCategoryModal();
    },
    editAttachImage() {
          this.editCategoryData.image = this.$refs.editCategoryImage.files[0];
          let reader = new FileReader();
          reader.addEventListener('load', function() {
            this.$refs.editCategoryImageDisplay.src = reader.result;
          }.bind(this), false);

          reader.readAsDataURL(this.editCategoryData.image);
    },
    updateCategory: async function() {
      try {
        const formData = new FormData();
        formData.append('name', this.editCategoryData.name);
        formData.append('image', this.editCategoryData.image);
        formData.append('_method','PUT');
        const response = await categoryService.updateCategory(this.editCategoryData.id, formData);
        this.categories.map(category => {
          if (category.id == response.data.id) {
            for (let key in response.data) {
              category[key] = response.data[key];
            }
          }
        });

        this.hideEditCategoryModal();
        this.flashMessage.success({
                title: 'Success !',
                message: 'category has been updated',
                time: 5000
              });
      } catch (error) {
        this.flashMessage.error({
          title: 'Oops !',
          message: error.response.data.message,
          time: 5000
        });
      }
    },
    loadMore: async function () {
      try {
        const response = await categoryService.loadMore(this.nextPage);
        if (response.data.current_page < response.data.last_page) {
          this.moreExists = true;
          this.nextPage = response.data.current_page + 1;
        }else{
          this.moreExists = false;
        }

        response.data.data.forEach(data => {
          this.categories.push(data);
        });


      } catch (error) {
        this.flashMessage.error({
          message: 'Something when wrong !',
          time: 5000
        });
      }
    }
  }
  

};
</script>